.big-div{
    display: flex;
    gap: 20px;
} 

.big-div img{
    border-radius: 90px;
}

.bottom{
    display: flex;
    gap: 80px;
}

.ref{
    font-family: cursive;
    background-color: bisque;
}

h2{
    color: rgb(6, 108, 142);
}